@import "tailwindcss";
@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}


/* Custom Theme Gradient */

.bg-theme-gradient {
    background: linear-gradient(90deg, #2A7B9B 0%, #57C785 50%, #EDDD53 100%);
}


/* Text gradient utility */

.text-theme-gradient {
    background: linear-gradient(90deg, #2A7B9B 0%, #57C785 50%, #EDDD53 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* Custom Scrollbar for Webkit (Chrome, Safari) */

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    /* gray-200 */
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d1d5db;
    /* gray-300 */
}